
video {
    min-width: 50%;
    min-height: 100%;
    width: 50%
    z-index:-100;
 background: url('bg.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
#bg {
  background: url(images/bg.jpg);
}
#bgvid {
  z-index: 1;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(images/bg.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
